.app {
  background-image: url('./assets/sunny-day.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

main {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.75)
  );
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Search Box CSS */
.search-box {
  width: 100%;
  height: 3rem;
  font-size: 1.5rem;
  font-style: italic;
  border-radius: 1rem 0 1rem 0;
  padding: 0.25rem 0.5rem;
  border: 2px solid #f1f1f1;
  background-color: transparent;
  color: #f1f1f1;
  margin-bottom: 3rem;
}

.search-box::placeholder {
  color: #f1f1f1;
}

/* Weather CSS */
.weather-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  color: #f1f1f1;
  margin-bottom: 2.5rem;
}

.weather-city {
  font-size: 1.5rem;
  font-weight: bold;
}

.weather-date {
  font-size: 1rem;
  font-style: italic;
}

.weather-temperature {
  font-size: 6rem;
}

.weather-weather {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 10rem;
  font-size: 0.75rem;
}

.weather-div {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

/* Forecast Box CSS*/
.forecast-box {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

/* Day Forecast CSS */
.day-f-box {
  width: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid #f1f1f1;
  border-radius: 1rem 0 1rem 0;
  color: #f1f1f1;
  gap: 0.5rem;
}

.day-f-date {
  font-size: 0.75rem;
}

.day-f-temp {
  display: flex;
  align-items: center;
}

.day-f-temp span {
  font-weight: bold;
  font-size: 1.25rem;
}

.day-f-text {
  font-size: 0.75rem;
  display: block;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: ltr;
}
